:root {
    --verdeClaro: #00ff00;
    --verdeBG: #5100ff30;
    font-family: 'Courier New', Courier, Monospace;
}

body {
    background-color: #121212;
    color: var(--verdeClaro);
}

h1 {
    font-size: xxx-large;
    justify-self: center;
}

h2 {
    text-align: center;
    text-wrap: balance
}

.main-layout {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}


/* SELECTOR */

.selector-container {
    background-color: var(--verdeBG);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}

.selector-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selector-games {
    width: 100px;
}

.selector-item>p,
.selector-form>p {
    margin: 0;
    padding: 10px;
}



/* GAME LIST */

.games-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.games-item {
    padding: 30px;
    background-color: var(--verdeBG);
    border: #a3ff03 solid 1px;
    border-radius: 3%;

}

.games-item>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.games-item>p {
    margin-top: 0;
    color: var(--verdeClaro);
}


/* GAME DETAILS */

.details-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.details-header,
.details-info {
    background-color: var(--verdeBG);
}

.details-header>img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}