:root {
    --verdeClaro: #00ff00;
    --verdeBG: #5100ff30;
    font-family: 'Courier New', Courier, Monospace;
}

body {
    background-color: #121212;
    color: var(--verdeClaro);
}

h1 {
    font-size: xxx-large;
    justify-self: center;
}

h2 {
    text-align: center;
    text-wrap: balance
}


/* Selector */

.selector-container {
    background-color: var(--verdeBG);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
}

.selector-games {
    display: flex;
    min-width: 100px;
    max-width: 200px;
}

.selector-item>p,
.selector-form>p {
    margin-top: 0;
}



/* GAME LIST */

.games-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.games-item {
    padding: 30px;
    background-color: var(--verdeBG);
    border: #a3ff03 solid 1px;
    border-radius: 3%;

}

.games-item>img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}